.container{
    text-align: center;
}

.btn{
    width: 100px;
    /* padding-block: 20px; */
    padding: 15px 32px;
    margin: 0 10px;
    background-color: #9354e7;
    border: none;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px;
}

.input{
    padding: 15px 32px;
    font-size: 24px;
}

.btn-reset{
    width: 10%;
    margin-top: 30px;
    text-align: center;
}

.btn-input{
    width: 20%;
}

.btn:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}

.number{
        position: relative;
        top: 20px;
        font-size: 32px;
        padding: 15px;
}

.jump{
    animation: jump .3s ease infinite alternate;
}



@keyframes jump {
    100%{
        top: -20px;
    }
}